body {
  margin: 0;
}

.gagunkbtn {
  margin: 0 !important;
  margin-right: 0px !important;
  border-radius: 0px !important;
  color: white !important;
}

.leader {
  border:2px solid #C7CA9A !important;
}

.submitBtn {
  width: 50%;
  height: 40px !important;
  border-radius: 0px !important;
  background-color:#C7CA9A !important;
  color: white !important;
}

.cancelBtn {
  height: 40px !important;
  border-radius: 0px !important;
  width: 50%;
  background-color:#D8877B !important;
  color: white !important;
}

body > div:nth-child(7) > div > div:nth-child(1) > div > div > div:nth-child(3) {
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#strikethrough {
  text-decoration: line-through;
}

#gagunk {
  background-color:#D8877B !important;
}

#pass {
  background-color:#C7CA9A !important;
}

.gagunkNav {
  position: fixed !important;
  top: 0px !important;
  background-color:#D8877B !important;
}

#loader {
  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#footer {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  font-size: 10px;
  padding:25px;
  text-decoration: none;
  color: grey !important;
}

#footerArea {
  margin-top: 50px !important;
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background-color: #EEEEEE;
}

#footer a {
  text-decoration: none;
  color: grey !important;
}
